<div th:fragment="modal1">
    <div class="modal fade" id="modal1" tabindex="-1"
         role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label1">予約の更新</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="updateDialog">
                        <div class="task_form">
                            <form action="/update">
                                <fieldset class="form-group" id="datepicker-default">
                                    <div class="row g-5">
                                        <div class="col-12">
                                            <input id="update_id" name="id" type="hidden" />
                                        </div>
                                        <div class="col-12">
                                            <label for="place" class="form-label">場所</label>
                                            <input id="update_place" name="place" type="text" class="form-control" placeholder="桜ヶ丘体育館第2会議室" required/>
                                        </div>
                                        <div class="col-12">
                                            <label for="groupname" class="form-label">利用団体名</label>
                                            <input id="update_groupname" name="groupname" type="text" class="form-control" placeholder="神岡クリエイターズ" required/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="startdatetime" class="form-label">開始日時</label>
                                            <input id="update_startdatetime" name="startdatetime" type="datetime-local" step="1800" class="form-control" placeholder="開始日時" required/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="enddatetime" class="form-label">終了日時</label>
                                            <input id="update_enddatetime" name="enddatetime" type="datetime-local" step="1800" class="form-control" placeholder="終了日時" required/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label id="update_status" for="status" class="form-label">承認</label>
                                        <select class="corm-control" id="update_status" name="done">
                                            <option value="false">未</option>
                                            <option value="true">済</option>
                                        </select>
                                    </div>
                                </fieldset>
                                <div>
                                    <button type="submit">更新</button>
                                    <button type="reset"
                                            onclick="getElementById('updateDialog').style.display='none';">
                                        キャンセル</button>
                                </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    <button type="submit" class="btn btn-primary" >更新</button>
                </div>
            </div>
        </div>
    </div>
